h1 {
    color: var(--primary);
    margin: 2vh 3vw;
}

h2 {
    color: var(--primary);
    margin: 2vh 5vw;
}

h3 {
    color: var(--primary);
    margin: 2vh 7vw;
}
p {
    color: var(--primary);
    margin: 2vh 9vw;
}

ul {
    color: var(--primary);
    list-style: none;
}

li {
    color: var(--primary);
    margin: 2vh 11vw;
    list-style: disc;
}

a {
    color: var(--blue);
    text-decoration: none;
}